{% extends 'base.html' %}

{% block titulo %} Realizar Busqueda {% endblock %}

{% block contenido %}
 <h2>Buscar como:</h2>

 <ul >
   {% for perfil in perfiles %}
 	<li>{{perfil.nombre}}</li>
 	{% endfor%}
 </ul>

	<hr>
    
    <form class="navbar-form navbar-left" role="search">
        {% csrf_token %}
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Search" id="palabra_buscar">
      </div>
      <input type="button" value="Buscar" class="btn btn-primary" id="buscar"> 

    </form>
    <br><br><br>

    <hr>
    <div id ="caja_fuera">

    </div>

{% endblock %}

{% block script %}
<script>
     $("#buscar").click(function()
     {
          palabra_buscar = $('#palabra_buscar').val();
          console.log(palabra_buscar);
          
           $.ajax({
            data:{'palabra_buscar':palabra_buscar},
            type:"GET",
            url:"/ajax_busqueda/",
            success: function(data)
            { 
              html = "";
              for(i=0;i < data.length;i++)
                {
                 html += " <div id ='caja_dentro'>";
                 html += " <h3><a href='/paginas/"+data[i].pk+"/' %}' id='selec'>"+data[i].fields.titulo+"</a></h3>";
                  html += " <p>"+data[i].fields.contenido+"</p>";
                 html += "</div>";
                 }

              $('#caja_fuera').html(html); 
            },
            error:function()
            {
              $('#caja_fuera').html("No encontrado");  
            }
          });
     });
        

  </script> 
 {% endblock %}
