{% extends "base.html" %}

{% block titulo %}
	Registrar nuevo usuario
{% endblock titulo %}

{% block contenido %}
<div class="row">

<div class="registrar col-md-7">
	<legend class="header">Registrar nuevo usuario</legend>
	<form action="" id="form" method="POST" role="form">
    	{% csrf_token %}
	    <div class="form-group">
		    <label class="control-label" for="id_username">Username</label>
		
			    <input id="id_username" type="text" name="username" maxlength="10" class="form-control" placeholder="Nombre de usuario" title="El nombre de usuario es necesario" required>
			    <span class="help-inline"></span>
			    {{ form.username.errors }}
		  
	    </div>
	    <div class="form-group">
		    <label class="control-label" for="id_first_name">Nombres</label>
			    <input id="id_first_name" type="text" name="first_name" maxlength="200" class="form-control" placeholder="Nombres" title="Se necesita los nombres" required>
			    <span class="help-inline"></span>
			    {{ form.first_name.errors }}

	    </div>
	    <div class="form-group">
		    <label class="control-label" for="id_last_name">Apellidos</label>
		    <div class="controls">
			    <input id="id_last_name" type="text" name="last_name" maxlength="200" class="form-control" placeholder="Apellidos" title="Se necesita los apellidos" required>
			    <span class="help-inline"></span>
			    {{ form.last_name.errors }}
		    </div>
	    </div>
	    <div class="form-group">
		    <label class="control-label" for="id_email">Email</label>
		    <div class="controls">
			    <input type="email" class="form-control" name="email" id="id_email" placeholder="Email" title="Se necesita el email" required>
			    <span class="help-inline"></span>
			    {{ form.email.errors }}
		    </div>
	    </div>
	    <div class="form-group">
		    <label class="control-label" for="id_is_active">Activo</label>
		    <div class="controls">
		    	<input checked="checked" type="checkbox" name="is_active" id="id_is_active"/>
		    </div>
	    </div>
	    <div class="form-group">
		    <label class="control-label" for="id_direccion">Pais</label>
		    <div class="controls">
		    	<input id="id_direccion" type="text" name="pais" maxlength="500" class="form-control" placeholder="Dirección" title="Se necesita la pais" />
		    	<span class="help-inline"></span>
		    	{{ form.pais.errors }}
		    </div>
	    </div>
	    <div class="form-group">
		    <label class="control-label" for="id_password1">Contraseña</label>
		    <div class="controls">
		    	<input type="password" name="password1" id="id_password1" class="form-control" placeholder="Contraseña" title="Se necesita la contraseña" required/>
		    	<span class="help-inline"></span>
		    	{{ form.password1.errors }}
		    </div>
	    </div>
	    <div class="form-group">
		    <label class="control-label" for="id_password2">Confirma tu contraseña</label>
		    <div class="controls">
		    	<input type="password" name="password2" id="id_password2" class="form-control" placeholder="Confirma contraseña" title="Se necesita la confirmacion de la contraseña" required/>
		    	<span class="help-inline"></span>
		    	{{ form.password2.errors }}
		    </div>
	    </div>
	    <div class="form-group">
		    <button type="submit" class="btn btn-primary btn-medium" id="boton-registrar">Registrar</button>
		    <button type="reset" class="btn btn-primary btn-medium">Cancelar</button>
	    </div>
    </form>

</div>
<div class="col-md-5">
	<h3>Informacion</h3>
	<p>
		En este apartado puedes registrar un nuevo usuario.
	</p>
</div>
</div>
{% endblock contenido %}

{% block script %}

{% endblock script %}